<%= form_for(dave_stuff) do |f| %>
  <% if dave_stuff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dave_stuff.errors.count, "error") %> prohibited this dave_stuff from being saved:</h2>

      <ul>
      <% dave_stuff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :saying %>
    <%= f.text_field :saying %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
